NOBS_JWT_SECRET=change-me-generate-with-openssl-rand-hex-32
NOBS_BOOTSTRAP_USERNAME=alex
NOBS_BOOTSTRAP_PASSWORD=
NOBS_EXEC_TOKEN=
OLLAMA_URL=http://host.docker.internal:11434
LITELLM_URL=http://host.docker.internal:4000
NOBS_MAX_BETA_USERS=10

